<div class="auth-page">

  <div class="auth-left">

    <div class="auth-brand">
      <div class="brand-icon">S</div>
      <span>
        SkillSwap <strong>AI</strong>
      </span>
    </div>

    <h1 class="auth-headline">
      Exchange skills.<br>
      Grow together.
    </h1>

    <p class="auth-sub">
      Teach what you know.
      Learn what you need.
      Powered by AI.
    </p>

    <div class="auth-stats">

      <div class="stat">
        <span class="stat-num">2,400+</span>
        <span class="stat-label">
          Active Learners
        </span>
      </div>

      <div class="stat">
        <span class="stat-num">180+</span>
        <span class="stat-label">
          Skills Available
        </span>
      </div>

      <div class="stat">
        <span class="stat-num">98%</span>
        <span class="stat-label">
          Match Success
        </span>
      </div>

    </div>

  </div>

  <div class="auth-right">

    <div class="auth-card">

      <h2>Create Account</h2>

      <p class="auth-card-sub">
        Start your learning journey
      </p>

      <form
        [formGroup]="registerForm"
        (ngSubmit)="submit()">

        <div class="form-group">

          <label>Full Name</label>

          <input
            type="text"
            formControlName="name"
            placeholder="Khushee">

        </div>

        <div class="form-group">

          <label>Email</label>

          <input
            type="email"
            formControlName="email"
            placeholder="khushee@gmail.com">

        </div>

        <div class="form-group">

          <label>Password</label>

          <input
            type="password"
            formControlName="password"
            placeholder="••••••••">

        </div>

        <div class="form-group">

          <label>Confirm Password</label>

          <input
            type="password"
            formControlName="confirmPassword"
            placeholder="••••••••">

        </div>

        <div class="form-group">

          <label>Bio</label>

          <textarea
            rows="4"
            formControlName="bio"
            placeholder="Tell others about yourself">
          </textarea>

        </div>

        <span
          class="error-msg"
          *ngIf="registerForm.hasError('passwordMismatch')">

          Passwords do not match

        </span>

        <span
          class="error-msg"
          *ngIf="errorMsg">

          {{ errorMsg }}

        </span>

        <button
          type="submit"
          class="btn-primary w-full"
          [disabled]="loading">

          {{
            loading
            ? 'Creating Account...'
            : 'Create Account'
          }}

        </button>

      </form>

      <p class="auth-switch">

        Already have an account?

        <a routerLink="/login">
          Sign In
        </a>

      </p>

    </div>

  </div>

</div>